.head {
  color: #ffffff;
  font-family: 'bree serif';
}

.headImg {
  height: 50px;
  padding-right: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ulContainer {
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
